<%- include('includes/head.ejs')  %>   
<link rel="stylesheet" href="/css/style.css">

</head>
<%- include('includes/header.ejs') %>

<body>

    <h1><%= pageNotFound %></h1>
    <a href="/"><%= returnLink %></a>
<%- include('includes/end.ejs')  %>   