<%- include('includes/head.ejs')  %> 
<link rel="stylesheet" href="/css/style.css">

</head>
<%- include('includes/header.ejs') %>

<body>
    <h1><%= pageTitle %></h1>
    <form action = "/" method = "POST">
        <div class="info">
            <%= pageInfo %>
        </div>
        <%- include('includes/countrySelector.ejs') %>

    </form>

<%- include('includes/end.ejs')  %>   
